name: Trigger Release

on:
  workflow_dispatch:
    inputs:
      gem:
        description: Gem to release
        required: true
      version:
        description: Version to release
        required: true

jobs:
  release-trigger:
    if: ${{ github.repository_owner == 'dazuma' }}
    env:
      ruby_version: "2.7"
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby ${{ env.ruby_version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.ruby_version }}
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Install Toys
        run: "gem install --no-document toys"
      - name: Perform release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          toys release trigger --yes --verbose \
            "${{ github.event.inputs.gem }}" \
            "${{ github.event.inputs.version }}" \
            < /dev/null
